<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var arr=[1,2,3,4,5]
        //alert(typeof arr);
        /*alert(arr.length);
        arr.push(6);*/

        var a=12;       //变量：自由
        arr.a=5;        //属性：属于一个对象

        function show()    //函数
        {
            alert('a')
        }
        arr.fn=function()    //方法
        {
            alert('a');
        }
    </script>
</head>
<body>
    
</body>
</html>