<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        //用工厂方式构造对象
        
        function creatPerson(name,sex)   //构造函数
        {
            //1.原料
            var obj=new Object();
            //2.加工
            obj.name=name;
            obj.sex=sex;
            obj.showName=function()
            {
                alert('我的名字叫：'+this.name);
            }
            obj.showSex=function()
            {
                alert('我是：'+this.sex+'的');
            }
            //3.出厂
            return obj;
        }
        var p1=creatPerson('blue','男');
        var p2=creatPerson('leo','女');

        alert(p1.showName==p2.showName);                                      
        //工厂方式的问题  1.没有new   2.每个对象都有一套自己的函数--浪费资源
                                                        
        /*p1.showName();
        p1.showSex();
        p2.showName();
        p2.showSex();*/
    </script>
</head>
<body>
    
</body>
</html>