<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #div1 {width:100px; height:20px; background:red;}
    </style>
    <script>
        window.onload=function()
        {
            var oDiv=document.getElementById('div1');
            
            oDiv.onmouseover=function()
            {
                startMove(oDiv, 200);
            };
            
            oDiv.onmouseout=function()
            {
                startMove(oDiv, 20);
            }
        }
        
        var iSpeed=0;
        var height=20;
        
        function startMove(obj, iTarget)
        {
            clearInterval(obj.timer);
            obj.timer=setInterval(function()
            {
                iSpeed+=(iTarget-height)/5;
                iSpeed*=0.7;
                
                if(Math.abs(iSpeed)<1 && Math.abs(iTarget-height)<1)
                {
                    clearInterval(obj.timer);
                    obj.style.height=iTarget+'px';
                }
                else
                {
                    height+=iSpeed;
                    if(height<0)
                    {
                        height=0;
                    }
                    obj.style.height=height+'px';
                }
            }, 30)
        }
    </script>
</head>
<body>
    <div id="div1"></div>
</body>
</html>