<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var arr=[12,65,87];

        //this:当前的方法属于谁
        arr.show=function()
        {
            alert(this.length);
        }
        oDiv.onclick=function()
        {
            alert(this);
        }
    </script>
</head>
<body>
    
</body>
</html>