<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #div1 {width:100px; height:100px; position:absolute; background:red; left:0; top:50px;}
    </style>
    <script type="text/javascript">
        var timer=null;
        function startMove()
        {
            var oDiv=document.getElementById('div1');
            
            timer=setInterval(function()
            {
                var iSpeed=10;

                if(oDiv.offsetLeft>=300)   //判断运动是否到达终点
                {
                    clearInterval(timer);    //到达终点
                }
                else
                {
                    oDiv.style.left=oDiv.offsetLeft+iSpeed+'px';  //到达之前
                }
            }, 30)
        }  
    </script>
</head>
<body>
    <input type="button" value="开始运动" onclick="startMove()">
    <div id="div1"></div>
</body>
</html>