<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var obj={a: 15, b: 4, c: 8};
        var arr=[15,4,8];
        
        /*alert(obj['a']);
        alert(arr[0]);*/
        
        var i=0;
        
        //数组：for	for...in
        //json：for...in
        
        //for(i=0;i<arr.length;i++)
        for(i in arr)
        {
            alert(i+'='+arr[i]);
        }
        
        for(i in obj)
        {
            alert(i+'='+obj[i]);
        }
        
        //数组：普通for
        //json：for...in
    </script>
</head>
<body>
    
</body>
</html>