<!DOCTYPE html>
<html lang="zh">
<head>
    <style>
        div {
            width: 100px;
            height: 100px;
            background: #ff0000;
        }

        .box {
            width: 200px;
            height: 200px;
            background: gold;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="div1" onmouseover="document.getElementById('div1').className='box'"
     onmouseout="document.getElementById('div1').className=''"></div>
</body>
</html>