<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #div1 {
            width: 100px;
            height: 50px;
            background: #FFCC99;
            border: 1px solid #FF9900;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<label id="zhou">1</label>
<label id="zhou">2</label>
<label id="zhou">3</label>
<label id="zhou">4</label>

<input type="checkbox" onmouseover="document.getElementById('div1').style.display='block';"
       onmouseout="document.getElementById('div1').style.display='none'">自动登录
<div id="div1">
    不要在网吧...
</div>

<div>

</div>

</body>

</html>

<script>

    var x = document.getElementById("zhou");
    alert(x.getValue());

</script>