<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        /*var a='12';
        //parseInt('12')->12
        alert(parseInt(a)+1);
        var a='12px';
        alert(parseInt(a));    //从字符串中提取数字   */
        /*var a='abc';
        alert(parseInt(a));    //NaN  Not A Number  */
        var a='12.6'
        alert(parseFloat(a));
    </script>
</head>
<body>
    
</body>
</html>