<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function aaa()  //父函数
        {
            var a=12;    
            function bbb()   //子函数
            {
                alert(a);    //子函数可以使用父函数的局部变量
            }
            bbb();
        }
        aaa();
    </script>
</head>
<body>
    
</body>
</html>
</head>
<body>
    
</body>
</html>