<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        /*var a='12';
        var b=12;
        //alert(a==b);   //先把两边的东西转成一个类型，然后再比较
        alert(a===b);    //不转换，直接比较  */
        var a='12';
        var b='5';
        //alert(a-b);
        //+：  1.字符串连接   2.数字相加
        //-：  1.数字相减
    </script>
</head>
<body>
    
</body>
</html>